version: '3'

services:
  # Auth instance
  auth:
    image: eu.gcr.io/withergate-215313/withergate-auth
    ports:
      - "9000:9000"
    environment:
      - "SPRING_PROFILES_ACTIVE=local"

  # Client instance
  client:
    image: eu.gcr.io/withergate-215313/withergate-client
    ports:
      - "3000:80"
    environment:
      - "API_URL=http://localhost:8080/"
      - "AUTH_URL=http://localhost:9000/"
      - "REDIRECT_URL=http://localhost:3000"
      - "CLIENT_ID=withergate-local"

  # Database instance
  database:
    image: mysql:5.7
    ports:
      - "3306:3306"
    environment:
      - "MYSQL_ROOT_PASSWORD=password"
      - "MYSQL_DATABASE=game"
